.Lista {
    color: rgb(236,23,155);
    background-color: whitesmoke;
    width: 90%;
    height: 63.7%;
    margin-top: 1%;
    margin-left: 5%;
    border: 2px solid rgb(236,23,155);
    border-radius: 4px;
    overflow: auto;
}

.EventName {
    font-weight: 500;
    font-size: 3vw;
}

.Title {
    font-size: 2vw;
    margin-bottom: 10%;
    padding-top: 5%;
}

.Area-lista {
    justify-content: left;
    height: 60vw;
    display: flex;
}